{% extends "base.html" %}
{% block content %}
<section class="success">
    <h1 >Order Successful!</h1>
    <p style=" text-align: center; font-size: 30px; margin-top: 100px;">Thank you for your purchase. Your order has been placed successfully.</p>
    <a style="text-align: center; font-size: 25px; margin-left: 600px;" href="/products">Go Back to Home</a>
</section>
<footer class="a" style="position: fixed; bottom: 0;">
    <p>&copy; 2024 GymSupps | All Rights Reserved.</p>
</footer>
{% endblock %}
